
body{
    background-color: lightblue;
}

/* & img's dimension */
.my-small-img{
    width: 100%;
    height: 100%;  
    filter: brightness(.4);
}

/* & big img's dimension */
.my-big-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* % img's containers */
.carousel-element-small{
    height: 20%;
}

.carousel-element-big{
    display: none;
    height: 100%;
} 
/* % ---- */

/* & title and paragraph */
.my-title{
    right: 1rem;
    bottom: 6rem;
    margin-bottom: 1.5rem;
}

.my-paragraph{
    right: 1rem;
    bottom: 2rem;
    padding: 0 1rem;
}

/* # col-8 and col-3 modified */

.my-col-big{
    padding-right: 0;
    padding-left: 0;
    position: relative;
    height:70vh; 
    overflow-y: hidden;
}

.my-col-small{
    padding-right: 0;
    padding-left: 0;
    position: relative;
    height:70vh; 
    overflow-y: hidden;
}

/* & icons for the event listener */
.my-btn{
    position:absolute;
    left: 50%;
    font-size: 2rem;
    transform: translateX(-50%); 
    cursor: pointer;
    z-index: 1;
}

.my-btn-up{
    top:1rem;
}

.my-btn-down{
    bottom:1rem;
}

button{
    background-color: rgb(221, 223, 224);
    border: 1px solid black;
    border-radius: 50%;
    width:2.5rem;
    height: 2.5rem; 
    text-align: center;
    line-height: 1.5rem; 
    opacity:.6;
}


/* # Active class */
.activeElement-Big{
    display: block;
}

.activeElement-Small{
    filter:brightness(1);
    border: 3px rgb(197, 197, 197) solid;
}