/* & img's dimension */
.my-small-img{
    width: 100%;
    height: 100%;  
    filter: brightness(.4);
}

/* & class for the eventListener */
.my-border{
    border: .5rem solid white;
}

/* & big img's dimension */
.my-big-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* % img's containers */
.carousel-element-small{
    height: 20%;
}

.carousel-element-big{
    display: none;
    height: 100%;
} 
/* % ---- */

/* & title and paragraph */
.my-title{
    right: 1rem;
    bottom: 6rem;
    margin-bottom: 1rem;
}

.my-paragraph{
    right: 1rem;
    bottom: 2rem;
    text-align: center;
}

/* # col-8 and col-3 modified */

.my-col-big{
    padding-right: 0;
    padding-left: 0;
    position: relative;
    height:600px; 
    overflow-y: hidden;
}

.my-col-small{
    padding-right: 0;
    padding-left: 0;
    position: relative;
    height:600px; 
    overflow-y: hidden;
}

/* & icons for the event listener */
.bi{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    background-color: lightslategray;
    font-size: 2rem;
    cursor: pointer;
    /*   border-radius: 50%; */
    /* width:2rem;
    height: 2rem; */
    z-index: 1;
}


.bi-arrow-up-circle{
    top:1rem;
}

.bi-arrow-down-circle{
    bottom:1rem;
}

/* active class */

.activeElement-Big{
    display: block;
}

.activeElement-Small{
    filter:brightness(1);
    border: 3px rgb(197, 197, 197) solid;
}